{% extends 'base.html' %}
{% block content %}

<style>
    .login {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px
    }
</style>

{% if user.is_authenticated %}
<form action="" method='POST'>{%csrf_token%}

    {% for f in form %}
    {% if f.name != 'user' %}
    <p>{{ f.label }}</p>
    <p>{{ f }}</p>
    {{ form.media }}
    {% endif %}
    {% endfor %}

    <input type='hidden' name='user' value={{ user.id }}>
    <input type='submit' value='作成する'>
</form>


{% else %}
<div class="login">
    <a href="{% url 'app:login' %}" class="btn btn-primary">ログイン</a>
</div>
{% endif %}

{% endblock %}