{% extends 'base.html' %}
{% block content %}

{{object.date|date:"Y/m/d"}}
<li>{{object.get_place_display}}</li>
{% if object.category_pectoral %}
<li style="color:red">胸筋</li>
{% endif %}
{% if object.category_abs %}
<li style="color:blue">腹筋</li>
{% endif %}
{% if object.category_spine %}
<li style="color:green">背筋</li>
{% endif %}
{% if object.category_run %}
<li style="color:orange">ラン</li>
{% endif %}

<a href="{% url 'app:update' object.pk %}" class="btn btn-primary">更新する</a>

<form method="post" action="{% url 'app:delete' object.pk %}">{% csrf_token %}
    <button class="btn btn-primary" type="submit" onclick='return confirm("本当に削除しますか？");'>削除する</button>
</form>

{% endblock %}