{% extends 'base.html' %}
{% block content %}
<style>
  table {
    table-layout: fixed;
  }

  td>div {
    height: 100px;
  }

  li {
    height: 16px;
    font-size: 10px;
    list-style-type: none;
  }
</style>

{% if user.is_authenticated %}

<a href="{% url 'app:create' %}" class="btn btn-primary">新規作成</a>
<a href="{% url 'app:logout' %}" onclick='return confirm(" 本当にログアウトしますか?")' class="btn btn-primary">ログアウト</a>

<div>
  <a href="{% url 'app:month_with_schedule' month_previous.year month_previous.month %}">
    前月
  </a>
  {{ month_current | date:"Y年m月" }}
  <a href="{% url 'app:month_with_schedule' month_next.year month_next.month %}">
    次月
  </a>
</div>

<table class="table">
  <thead>
    <tr>
      {% for w in week_names %}
      <th>{{ w }}</th>
      {% endfor %}
    </tr>
  </thead>

  <tbody>
    {% for day_schedule in month_day_schedules %}
    <tr>
      {% for day, schedule in day_schedule.items %}
      {% if now == day %}
      <td class="table-success">
        {% else %}
      <td>
        {% endif %}
        <div>
          {% if month_current.month == day.month %}
          {% if schedule %}
          <a href="{% url 'app:detail' schedule.id %}">
            {{ day.day }}
          </a>
          <li>({{ schedule.get_place_display }})</li>
          {% if schedule.category_pectoral %}
          <li style="color:red">胸筋</li>
          {% endif %}
          {% if schedule.category_abs %}
          <li style="color:blue">腹筋</li>
          {% endif %}
          {% if schedule.category_spine %}
          <li style="color:green">背筋</li>
          {% endif %}
          {% if schedule.category_run %}
          <li style="color:orange">ラン</li>
          {% endif %}
          {% else %}
          {{ day.day }}
          {% endif %}
          {% endif %}
        </div>
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% else %}
ログインしてください
<a href="{% url 'app:login' %}" class="btn btn-primary">ログイン</a>
{% endif %}


{% endblock %}