{% extends 'base.html' %}
{% block content %}
<style>
  td>div {
    height: 100px;
  }

  li#category {
    height: 14px;
    font-size: 10px;
    list-style-type: none;
  }

  .site-footer {
    display: flex;
    position: fixed;
    width: 100%;
    bottom: 0;
    justify-content: space-around;
    background: gold;
    height: 40px;
    padding-top: 10px
  }

  .table {
    table-layout: fixed;
    margin-bottom: 3rem;
  }

  .table thead th {
    position: sticky;
    top: 0;
    background: gold;
  }

  .create-button {
    border-radius: 100%;
  }
</style>

{% if user.is_authenticated %}

<table class="table">
  <thead>
    <tr>
      <th colspan="7">
        <li style="display: inline; padding-right: 70px">
          {{ month_current | date:"Y年m月" }}
        </li>
        <li style="display: inline">
          <a href="{% url 'app:logout' %}" onclick='return confirm(" 本当にログアウトしますか?")'>ログアウト</a>
        </li>
      </th>
    </tr>
    <tr>
      {% for w in week_names %}
      <th>{{ w }}</th>
      {% endfor %}
    </tr>
  </thead>

  <tbody>
    {% for day_schedule in month_day_schedules %}
    <tr>
      {% for day, schedule in day_schedule.items %}
      {% if now == day %}
      <td class="table-success" style="padding:0px">
        {% else %}
      <td style="padding:0px">
        {% endif %}
        <div>
          {% if month_current.month == day.month %}
          {% if schedule %}
          <a href="{% url 'app:detail' schedule.id %}">
            {{ day.day }}
          </a>
          <li id="category">({{ schedule.get_place_display }})</li>
          {% if schedule.category_pectoral %}
          <li id="category" style="color:red">胸筋</li>
          {% endif %}
          {% if schedule.category_abs %}
          <li id="category" style="color:blue">腹筋</li>
          {% endif %}
          {% if schedule.category_spine %}
          <li id="category" style="color:green">背筋</li>
          {% endif %}
          {% if schedule.category_run %}
          <li id="category" style="color:orange">ラン</li>
          {% endif %}
          {% else %}
          {{ day.day }}
          {% endif %}
          {% endif %}
        </div>
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

<footer class="site-footer">
  <li style="display: inline">
    <a href="{% url 'app:month_with_schedule' month_previous.year month_previous.month %}">
      前月
    </a>
  </li>
  <li style="display: inline">
    <a href="{% url 'app:create' %}" class="gg-add" style="color:black"></a>
  </li>
  <li style="display: inline">
    <a href="{% url 'app:month_with_schedule' month_next.year month_next.month %}">
      次月
    </a>
  </li>
</footer>

{% else %}
ログインしてください
<a href="{% url 'app:login' %}" class="btn btn-primary">ログイン</a>
{% endif %}


{% endblock %}